.tweet-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
    
}
.tweet-user-info{
    height: 20px;
    margin-top: 10px;
}
.tweet-images-container{
margin: 20px 20px 0px 20px;
height: 300px;
border: 1px solid #1c1c1c;
border-radius: 20px;
display: flex;
overflow: hidden;

justify-content: center;
width: 360px;
align-self: center;
}

.tweet-image{
    top: 0;
    max-width: 100%;
    height: auto;
}
.tweet-text-container{
    margin: 20px 20px 0px 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74);
}
.tweet-date-container{
    margin: 10px 0px 10px 20px;
    font-size:10px ;
    color: #47525d;
}
.tweet-user-info{
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 10px;

}
.tweet-user-profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #1c1c1c;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
}
.tweet-user-name{
    font-size: 10px;
    color: white;
}
.tweet-user-username{
    font-size: 8px;
    color: white;
}
@media screen and (max-width:400px) {
    .tweet-images-container{
    height: 200px;
    width: 200px;
    }
}