.tweet-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1c1c1c;
    border-radius: 20px;
    overflow: hidden;
}
.tweet-user-info{
    height: 20px;
    margin-top: 10px;
}
.tweet-images-container{
margin: 20px 20px 0px 20px;
height: 200px;
border: 1px solid #1c1c1c;
border-radius: 20px;
display: flex;
overflow: hidden;
flex-wrap: wrap;
}
.tweet-image{
    background-image: url(https://images.unsplash.com/photo-1621665422246-fde75fb7e7f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    background-position:center ;
    flex-basis: 50%;
    flex-grow: 1;
}
.tweet-text-container{
    margin: 20px 20px 0px 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.74);
}
.tweet-date-container{
    margin: 10px 0px 10px 20px;
    font-size:10px ;
    color: #47525d;
}
.tweet-user-info{
    display: flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 10px;
}
.tweet-user-profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #1c1c1c;
    margin-right: 8px;
    background-position: center;
    background-size: cover;
}
.tweet-user-name{
    font-size: 10px;
    color: white;
}
.tweet-user-username{
    font-size: 8px;
    color: white;
}